@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

/* For Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none; /* hides scrollbar */
}

body {
  /* background:  linear-gradient(45deg,rgba(232, 70, 70, 1) 0%, rgba(255, 255, 255, 1) 10%, rgb(17, 3, 20) 69%); */
  width: 100vw;
  height: 100vh;
  background: black;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
}

.profileDropdown {
  background-color: white;
  border-radius: 20px;
  padding: 12px;
  position: relative;
  top: 62px;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(200px, -100px) scale(1.2);
  }
  66% {
    transform: translate(-150px, 150px) scale(0.8);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 20s infinite ease-in-out;
}

.laoding-message {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.loader {
  display: inline-grid;
  padding: 5px;
  background: #000000;
  filter: blur(4px) contrast(12);
}
.loader:before {
  content: "";
  height: 40px;
  aspect-ratio: 3;
  --c: #000000 64%, #ffffff 66% 98%, #ffffff00 101%;
  background: radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%, var(--c)) 100% 100%;
  background-size: calc(200% / 3) 50%;
  background-repeat: repeat-x;
  animation: l11 0.8s infinite linear;
}
@keyframes l11 {
  to {
    background-position: -200% 0, -100% 100%;
  }
}

.dashboard-about {
  margin-top: 30px;
  background-color: white;
  min-height: 12vh !important;
  width: 70%;
  border-radius: 12px;
  padding: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.dashboard-logo {
  padding: 12px;
  background-color: red;
  width: 45px;
  border-radius: 100%;
  color: white;
}

.flex-class {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-font {
  font-size: larger;
  font-weight: 600;
}

.dashboard-content {
  width: 70vw;
  margin-left: 25px;
}

.dashboard-mail {
  color: grey;
  font-size: small;
  font-weight: 400;
  text-align: left;
}

.custom-button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  background-color: black;
  border-width: 1px;
  border-color: transparent;
  color: white;
  font-size: 0.875rem;
}

.labelPicker {
  position: absolute;
  background-color: white;
  top: -5px !important;
  /* padding: 5px 3px !important; */
  padding: 5px 3px !important;
  line-height: 3px;
  left: 12px;
  font-size: 9px !important;
  font-weight: bolder !important;
  /* margin-bottom: 0px !important; */
}

.labelPicker::placeholder {
  padding: 10px !important;
}

.valueName {
  font-size: 12px !important;
  text-align: left;
  /* color: #5f5f5f !important; */
  border: 1px solid #ced4da;
  padding: 6px;
  margin-top: -1px;
  border-radius: 3px;
  min-height: 25px;
  cursor: no-drop;
  background-color: rgb(243, 243, 243);
  /* margin-top: 5px !important; */
}
